/* Board */
.game-board {
  margin: 25px;
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

/* Cell */
.game-cell {
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
}

/* Game */
.button-reset {
  padding: 10px 20px;
  background-color: aquamarine;
  border-radius: 6px;
}
